<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
            <div class="card card-container">
     <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <h1 style="text-align:center">Register</h1>
               
                <form ng-submit="signUp()" class="form-signin" name="userForm" novalidate>
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" ng-model="user.email" ng-required="true"  autofocus>
                    <div ng-show="userForm.email.$touched && userForm.email.$invalid">
                        <small style="color:red; display:block; text-align:center;">Please enter valid email address</small>
                    </div>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" ng-model="user.password" ng-required="true">
                    <div ng-show="userForm.password.$touched && userForm.password.$invalid">
                            <small style="color:red; display:block; text-align:center;">Please enter password</small>
                        </div>
                        <div class="danger" style="color:red;" ng-show="errMsg">{{errorMessage}}</div>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
                </form><!-- /form -->
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
            </div><!-- /card-container -->
        </div><!-- /container -->